.todo-item {
  border-bottom: 1px solid #eee;

  button {
    display: none;
    margin-top: 8px;
  }

  &:hover {
    background: rgb(254, 254, 244);

    button {
      display: inline-block;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .todo-item {
    .text-right {
      display: none;
    }
  }
  .todo-item:hover {
    .text-right {
      display: block;
      text-align: center;
      margin-bottom: 12.5px;
    }
  }
}


@mixin theme-body($list) {
  #bod {
    left: 0;

    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;

    z-index: 100;
    margin-left: 0;
    position: relative;
    transition: all 0.3s ease;
    background: get($list, body, bg);
    margin-top: 50px;

    padding-bottom: $line-height-computed;
  }

  #navbar ~ #bod {
    margin-top: 50px;
    padding-top: $line-height-computed;
  }

  #sidebar ~ #bod {
    @media (min-width: $screen-sm-min) {
      margin-left: get($list, sidebar, width);
    }
  }

  #sidebar + #bod {
    margin-top: 0;
    padding-top: $line-height-computed;
  }

  .external-event {
    background: get($list, theme, bg);
  }
}
